<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container-fluid header row">
  <div class="container row">
    <content-header></content-header>
  </div>
  <div class="container-fluid row">
    <div class="col col-md-2 navbar">
      <header></header>
    </div>
    <div class="col col-md-10 content-data">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="container row">
    Some foter
  </div> -->
</div>
<!-- <router-outlet></router-outlet> -->